# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Handle line endings for shell scripts properly
*.sh text eol=lf

# Handle Windows batch files properly
*.cmd text eol=crlf